<footer class="footer">
    <div class="info flex-column flex-md-row">
        <div class="section">
            <h4>description</h4>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit tempora
                nam perspiciatis temporibus provident, quos vel suscipit.
            </p>
        </div>
        <div>
            <h4>Nosotros</h4>
            <ul class="list-unstyled">
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
                <li>item 4</li>
            </ul>
        </div>
        <div>
            <h4>Nuestros Servicios</h4>
            <ul class="list-unstyled">
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
                <li>item 4</li>
            </ul>
        </div>
        <div class="section">
            <h4>Estamos En:</h4>
            <p>Calle falsa 123, Sprindfield - Argentina</p>
        </div>
    </div>
    <hr class="bg-white mw-100 mx-4 mt-0 mb-3" />
    <div class="contact flex-column-reverse flex-md-row">
        <div>
            <span>Copyrigth &copy 2020 #CAC</span>
        </div>
        <div class="my-2 my-md-0 text-center">
            <span>Tel: (02) 5505 0989</span>
            <span class="mx-2 d-none d-md-inline-block">|</span>
            <span class="d-block d-md-inline-block">Email: consequat.lectus@tincidunt.ca</span>
        </div>
        <div>
            <a href="https://twitter.com/" target="_blank">
                <i class="fab fa-twitter-square"></i>
            </a>
            <a href="https://facebook.com/" target="_blank">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a href="https://instagram.com/" target="_blank">
                <i class="fab fa-instagram-square"></i>
            </a>
        </div>
    </div>
</footer>
